*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*font-family: "Comfortaa Medium", serif;*/
}

.main{
    margin-top:20px;
    padding: 20px;
    border: solid 3px;
    height: 300px;
    width: 600px;
    overflow-y: scroll;
}

button{
    margin: 0 10px;

}